.addinfo{
  margin:80px 0;
  .container{
    background-color: #FFF;
    padding-top: 20px;
    .titleIntro{
      font-family: "Merriweather Sans";
    }
    .title{
      letter-spacing: 5px;
      font-family: 'Oswald';
      font-weight: 400;
      margin-bottom: 50px;
      line-height: 150%;
    }
    .addinfo-title{
      margin-bottom: 20px;
    }
    .addinfo-text{
      margin-bottom: 40px;
      line-height: 200%;
      font-family: 'PT Serif';
    }
  }
}
