.contact-header{
  margin:20px 0;
  font-family: "Merriweather Sans";
  &__text{
    :after{
      display:block;
      content: '';
      border-bottom: solid 2px #000;
      transform: scaleX(0);
      transition: transform 250ms ease-in-out;
    }
    :hover:after {
      transform: scaleX(1)
    }
  }
}
.thx-msg{
  margin: 20px 0;
  font-family: 'Oswald';
}
.contact-form{
  margin-top: 20px;
  font-family: "Merriweather Sans";
  .input{
    width: 50%;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid #D2CFCE;
  }
  .textarea{
    border: 2px solid #D2CFCE;
  }
  .errorMsg{
    color:red;
  }
}

.button{
  letter-spacing: 1px;
  font-family: 'Oswald';
  margin:20px 20px 0 0;
}
