$footer-background-color:#000;
$size-1: 3.5rem;
$size-2: 3rem;
$size-3: 2.5rem;
// Set your brand colors
$grey: #D2CFCE;


// Update some of Bulma's component variables
$body-background-color: #FFF;
$link:#FFF;
$control-border-width: 1px;
$input-border-color: $grey;
$input-shadow: none;
$variable-columns:false;
