@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700|Oswald:400,600|PT+Serif');

@import "_header.scss";
@import "_contact.scss";
@import "_hero.scss";
@import "_resume.scss";
@import "_addinfo.scss";
@import "_footer.scss";

$footer-background-color:#000;
$size-1: 3.5rem;
$size-2: 3rem;
$size-3: 2.5rem;
// Set your brand colors
$grey: #D2CFCE;


// Update some of Bulma's component variables
$body-background-color: #FFF;
$link:#FFF;
$control-border-width: 1px;
$input-border-color: $grey;
$input-shadow: none;
$variable-columns:false;

// Import only what you need from Bulma
@import "../../../../node_modules/bulma/bulma";
